/*-------------------->Start Compatpable with all Devises
*/

@media (max-device-width: 480px){
    /*side nav*/
    .navbar-twitch .navbar-nav > li > a > span{
            padding: 2px 0px 14px 21px;
    } 
    /*footer*/
      .Footer h1{
        font-size: 20px;
        font-weight: bold
    }
}
@media (max-device-width: 480px) and (orientation: landscape){
    .navbar-twitch .navbar-nav > li > a > span{
            padding: 2px 0px 14px 21px;
    } 
      .Footer h1{
        font-size: 20px;
        font-weight: bold
    }
}
@media (max-width: 767px){
      .navbar-twitch .navbar-nav > li > a > span{
                padding: 10px 15px 13px 24px;
    }   
}
@media (min-width: 767px){
     .navbar-twitch .navbar-nav > li > a > span{
          padding: 30px 15px 13px 11px; 
         
    } 
    .Footer h1{
        font-size: 20px;
        font-weight: bold
    }
}
@media (min-width: 992px){
       .navbar-twitch .navbar-nav > li > a > span{
            padding: 13px 15px 13px 12px;
    }  
}
@media (width: 992px){
      .navbar-twitch .navbar-nav > li > a > span{
            padding: 13px 15px 13px 25px;
    }   
}

@media (min-width: 1200px){
    .navbar-twitch .navbar-header,
    .navbar-twitch .navbar-brand{
     font-family: sans-serif      
    }
}


.navbar-twitch {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  border-radius: 0px;
  border: 0px;
    z-index: 1030;
}
.navbar-twitch.open {
  width: 300px;
}
.navbar-twitch > .container {
  padding: 0px;
  width: 100%;
}

.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
  float: none;
  display: block;
  width: 100%;
  margin: 0px;
    
}
.navbar-twitch .navbar-brand {
    height: 50px;   
}
.navbar-twitch > .container .navbar-brand {
  padding: 0px;
  margin: 0px;
}
.navbar-twitch > .container .navbar-brand > .small-nav {
  display: block;
    font-family: cursive;
    padding-left: 5px;
   
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo, 
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
  font-weight: bold;
  padding: 15px 2px 15px 3px;
  font-size: 20pt;
   
}

.navbar-twitch.open > .container .navbar-brand {
  width: 100%;
  padding: 85px 15px 100px;
  text-align: center;
   
}
.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
  /*color: rgb(255, 255, 255);*/
}
.navbar-twitch .navbar-nav > li {
  float: none;
    
}
.navbar-twitch > .container .full-nav {
  display: none;
}
.navbar-twitch.open > .container .full-nav {
     font-size: 14pt;
   display: block;
    margin: 0 23px 0 25px;
    border-bottom: 3px solid #1a1919;
    border-bottom-left-radius: 10px;
   -webkit- border-bottom-left-radius: 10px;
    -moz- border-bottom-left-radius: 10px;
    -o- border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit- border-bottom-right-radius: 10px;
    -moz- border-bottom-right-radius: 10px;
    -o- border-bottom-right-radius: 10px;
    padding-left: 17px;
    padding-right: 17px;
    
    
   
}

.navbar-twitch.open > .container .full-nav i{
    float: right;
}
.navbar-twitch.open > .container .full-nav .fa-search{

    top: 21px;
    position: absolute;
    right: 50px;
}
.navbar-twitch.open > .container .full-nav .fa-shopping-bag{
    float: left
}
.navbar-twitch.open > .container .full-nav button
{
  border: 0px;
    background-color: #232323;
    color: #FFF;
    margin-top: 70px;
    padding-left: 25px;
    
} 
.navbar-twitch.open > .container .full-nav .shopping-bag,
.navbar-twitch.open > .container .full-nav .search{
    width: 100%
}
.navbar-twitch.open > .container .full-nav .dropdown-menu{
    min-width: 85px;
    margin: 2px 17px 2px;
}
/*------------------>smallnav[smallDevises]
*/
.navbar-twitch.open > .container .small-nav {
  display: none;
}
.navbar-twitch .navbar-collapse {
  padding: 0px;
}
.navbar-twitch .navbar-nav {
  float: none;
    
}
.navbar-twitch .navbar-nav > li > a {
  padding:0px;
}
.navbar-twitch .navbar-nav > li > a > span {
  display: block;
  font-size: 16pt;

}

.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
  max-width: auto;
  white-space:nowrap;
}
.navbar-twitch-toggle {
  position: fixed;
  top: 0px;
  left: 50px;
    border: 0px;
    border-radius: 0px;
    color: #FFF;
    background-color: #333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o- border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -o- border-top-right-radius: 10px;
    z-index: 9999;

}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
  display: inline-block;
     

}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
  display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle {
      left: 300px;
    color: #Fff;
    background-color: #333;
    top: 0px;
    border: 0px;
    border-radius: 0px
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
  display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
  display: inline-block;
}
.heading{
    display: block;
    height: 100px
}

.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:Active {
    color: rgb(255, 255, 255);
    background-color: rgb(86, 61, 124);
    border-color: rgb(111, 84, 153);
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:Active {
    background-color: rgb(111, 84, 153);
    border-color: rgb(86, 61, 124);   
}

.navbar {
    background-image: none !important;
}
.navbar-purple {
    background-color: rgb(86, 61, 124);
    border-color: rgb(111, 84, 153);
}
.navbar-purple .navbar-brand, 
.navbar-purple .navbar-nav > li > a, 
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-nav > li > a:hover, 
.navbar-purple .navbar-brand:focus, 
.navbar-purple .navbar-nav > li > a:focus {
    color: rgb(205, 191, 227);;
}
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-nav > li > a:hover, 
.navbar-purple .navbar-brand:focus, 
.navbar-purple .navbar-nav > li > a:focus,
.navbar-purple .navbar-nav > .active > a, 
.navbar-purple .navbar-nav > .active > a:hover, 
.navbar-purple .navbar-nav > .active > a:focus {
    background-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}


/*----------------------------->banner
*/
.banner{
  
}
.banner img{
    background-size: cover;
    width: 100%;
    height: 100%
}
/*----------------------->items
*/
.container-fluid {
    padding-right: 15px;
    padding-left: 60px;}
/*
.row{
 display: table; 
    width: 100%;
}
.col{
   display: table-cell;
   
}
.thumbnail a>img, 
.thumbnail>img{
   
}
/*------------------------------->footer
*/
.Footer{
    display: block;
    min-height: 280px;
    background-color: #EEE;
    margin-top: 10px
}
.Footer .h1{
 text-transform: uppercase;
     padding-top: 35px;
}
._SocialMedia {
    margin-top: 50px
}
._SocialMedia p{
    display: inline-block;
    margin: auto;
    padding: 5px 0 0px 25px;
    font-size: 15px;
    font-weight:700
}
.bold{
    font-weight: bold
}
.btn-group-xs>.btn, 
.btn-xs{
    padding: 10px;
}
.btn{
    border: 0px;
    border-radius:0px
}
.btn:hover{
    background-color: black;
}
.btn a:hover{
    text-decoration: none;
    color: #FFF;
}
.btn-default.active,
.btn-default:active, 
.open>.dropdown-toggle.btn-default{
   background-color: black;
    color: #FFF;
}
.btn-default.active a, .btn-default:active a{
    color: #FFF;
    font-weight: bold
} 
a{
    color: black;
    
}
a:hover{
 text-decoration: none;
    color: #CCC;
}
._SocialMedia p._active a{
    color: #CCC
}
/*-------------------------------------->
*/





